<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Budget</title>
		</style>	
	</head>
    <body>
		<div class="buget-banner">
			<div class="buget-form">
				<h1>Budget Page</h1>
				
			</div>
		</div>
    </body>
</html>