<html>
<head>
    <title>Finance</title>
    <!-- link to my css  -->
    <link href="/css/finance.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head> 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Our App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/finance">Finance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/budget">Budget</a>
            </li>
            <li class="nav-item">
                <div class="nav-login"><a class="nav-link" href="/login">Login</a></div>
            </li>
            <li class="nav-item">
                <div class="nav-signup"><a class="nav-link" href="/signup">Sign Up</a></div>
            </li>
          </ul>
        </div>
      </nav>

<body>
    <!-- text field box -->
    <div class="form-group">
        <h1>Input your info</h1>
        <form>
            <p>University</p>
            <input type="text" id="form_university" placeholder="">          
            <p>Tuition</p>
            <input type="text" id="form_tuition" placeholder="">
            <p>Program</p>
            <input type="text" id="form_program" placeholder="">
            <p>Program Length</p>
            <input type="text" id="form_lengthOfProgram" placeholder="">
            <p>Expected Help</p>
            <input type="text" id="form_expected_help" placeholder="">
            <p>Grants</p>
            <input type="text" id="form_grants" placeholder="">
            <p>Loans</p>
            <input type="text" id="form_loans" placeholder="">
            <p>Housing</p>
            <input type="text" id="form_housing" placeholder="">
            <p>Income</p>
            <input type="text" id="form_income" placeholder="">
        </form>    

        <button class="analyze-button" id="analyze_button">Analyze</button>
        <h5 id="error_msg">Error Msg</h3>
    </div>

    <!--result displaying box  -->
    <div class="result">
        <h1>Result</h1>
        <div>
            <a href="https://plot.ly/~leehaei/0/?share_key=vJIfmuOGe3yFl2CUFY8o4J" target="_blank" title="date-axes" style="display: block; text-align: center;"><img src="https://plot.ly/~leehaei/0.png?share_key=vJIfmuOGe3yFl2CUFY8o4J" alt="date-axes" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
            <script data-plotly="leehaei:0" sharekey-plotly="vJIfmuOGe3yFl2CUFY8o4J" src="https://plot.ly/embed.js" async></script>
        </div>
    </div>


    <script>
      document.getElementById("analyze_button").onclick = function() {
        var university = document.getElementById("form_university").value;
        var tuition = document.getElementById("form_tuition").value;
        var program = document.getElementById("form_program").value;
        var program_length = document.getElementById("form_lengthOfProgram").value;
        var expected_help = document.getElementById("form_expected_help").value;
        var grants = document.getElementById("form_grants").value;
        var loans = document.getElementById("form_loans").value
        var housing = document.getElementById("form_housing").value;
        var income = document.getElementById("form_income").value;
        console.log("univ",university)
        //analyze, draw graph

        //post
      }


    </script>

    

</body>
</html>