<html>
<head>
    <title>Login Page</title>
    <!-- link to css -->
    <link href="/css/login.css" rel="stylesheet" type="text/css">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
    <body>
    <div class="login-box">
    <img src="/image/onlylogo.png" class="avatar">
        <h1>Login Here</h1>
            <form action="login" method="POST">
            <!-- username text field -->
            <p>Username</p>
            <input type="text" name="username" placeholder="" id="username">
            <!-- password text field -->
            <p>Password</p>
            <input type="password" name="password" placeholder="" id="password">
            <!-- login button -->
            <button class="login-button" id="login" type="login" name="login" value="login">Login</button>
            </form>
            <!-- signup/back button  -->
            <div class="signup-button"><a href="/signup">Sign Up</a></div>
            <div class="main-button"><a href="/">Back to Main</a></div>
            <!-- error message -->
            <!-- <h3 id="error_msg">Error Msg</h3>-->
    </div>
    


    <!-- navigation bar from bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="image/text.png" style="width: 10%; height: 10%;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/finance">Finance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Budget</a>
            </li>
            <li class="nav-item">
                <div class="nav-login"><a class="nav-link" href="/login">Login</a></div>
            </li>
            <li class="nav-item">
                <div class="nav-signup"><a class="nav-link" href="/signup">Sign Up</a></div>
            </li>
          </ul>
        </div>
      </nav>



    </body>
</html>