<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Login</title>
		</style>	
	</head>
    <body>
		<div class="login-banner">
			<div class="login-form">
				<h1>Main Page</h1>
				
			</div>
		</div>
    </body>
</html>