<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
 <head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <title>financial app</title>



 <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
 <link rel="shortcut icon" href="favicon.ico">

 <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
 
 <!-- Animate.css -->
 <link rel="stylesheet" href="css/animate.css">
 <!-- Icomoon Icon Fonts-->
 <link rel="stylesheet" href="css/icomoon.css">
 <!-- Bootstrap  -->
 <link rel="stylesheet" href="css/bootstrap.css">
 <!-- Flexslider  -->
 <link rel="stylesheet" href="css/flexslider.css">
 <!-- Theme style  -->
 <link rel="stylesheet" href="css/style.css">

 <!-- Modernizr JS -->
 <!-- <script src="js/modernizr-2.6.2.min.js"></script> -->
 <!-- FOR IE9 below -->
 <!--[if lt IE 9]>
 <script src="js/respond.min.js"></script>
 <![endif]-->

 </head>
 <body>
 <div id="fh5co-page">
  <a href=" " class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a >
  <aside id="fh5co-aside" role="complementary" class="border js-fullheight">

   <nav id="fh5co-main-menu" role="navigation">
    <ul>
     <li class="fh5co-active">
        <img src="image/logo.png" style="width: 50%; height: 25%;">
        <li><a href="/">Home</a ></li>
	 <li><a href="/finance">Finance</a ></li>
	<li><a >Budget</a ></li>
	<li><a href="/login">Login</a ></li>
	<li><a href="/signup">Sign Up</a ></li>
     <li> </li>
     <li> </li>
     <li> </li>
     <li>Cynthia Liu</li>
     <li>Haeim Lee</li>
     <li>Samantha Kyle</li>
     <li>Jiwoo Lee</li>
    </ul>
   </nav>


  </aside>

  <div id="fh5co-main">
   <aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
     <ul class="slides">
			<li style="background-image: url(image/5.jpeg);">
			<p class="center">smart financial decisions</p >
  
        </li>

       </ul>
      </div>
   </aside>
   
   <div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">About</h2>
    <div class="row">
     <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
			<div class="fh5co-icon">
				<img src="image/icon1.png" style="width: 105%; height: 99%;">
       </div>
       <div class="fh5co-text">
        <h3>Problems</h3>
        <p> Students have poor understanding of the financial commitment to go to university,
                                    the financial burden might be too heavy for them but they don't realize it.
                                     </p >
       </div>
      </div>
     </div>
     <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
       <div class="fh5co-icon">
			<img src="image/icon3.png" style="width: 99%; height: 99%;">
       </div>
       <div class="fh5co-text">
        <h3>Functionalities</h3>
        <p>This website analyzes that and show long term projections to give students a sense of SCALE and understanding of the sheer size of the financial burden of being a student </p >
       </div>
      </div>
     </div>

     <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
       <div class="fh5co-icon">
			<img src="image/icon2.png" style="width: 100%; height: 99%;">
       </div>
       <div class="fh5co-text">
        <h3>Special features</h3>
        <p>For the users that create an account, their financial statement would be saved and they are able to check the process of how the debt is going. </p >
       </div>
      </div>
     </div>
     <div class="col-md-6">
      <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
       <div class="fh5co-icon">
			<img src="image/icon4.png" style="width: 100%; height: 99%;">
       </div>
       <div class="fh5co-text">
        <h3>Others</h3>
        <p>By typing the financial load, students can know the approximately tuition they can afford and choose the university that is more suitable.</p >
       </div>
      </div>
     </div>
    </div>
   </div>
 

   <!-- <div id="get-in-touch">
    <div class="fh5co-narrow-content">
     <div class="row">
      <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
       <h1 class="fh5co-heading-colored">Get in touch</h1>
      </div>
     </div>
     <div class="row">
      <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
       <p class="fh5co-lead">Detail info? Do we need that</p >
       <p><a href="#" class="btn btn-primary">Learn More</a ></p >
      </div>
      
     </div>
    </div>
   </div> -->
  </div>
 </div>
 <!-- /js/modernizr-2.6.2.min.js -->
 <!-- MAIN JS
 <script src="js/main.js"></script> -->

 </body>
</html>